---
# {{ ansible_managed }}

{{ openio_elasticsearch_additional_config | default({}) | combine({
  "action.auto_create_index": ".watches,.triggered_watches,.watcher-history-*",
  "cluster.name": openio_elasticsearch_cluster_name,
  "node.name": openio_elasticsearch_node_name,
  "network.host": openio_elasticsearch_bind_address,
  "discovery.seed_hosts": openio_elasticsearch_cluster_hosts,
  "cluster.initial_master_nodes": openio_elasticsearch_cluster_nodes,
  "http.port": openio_elasticsearch_bind_port,
  "transport.port": openio_elasticsearch_transport_port,
  "path": {"data": openio_service_volume, "logs": openio_service_log_dir},
}) | to_nice_yaml }}
...
