# {{ ansible_managed }}
[Service.{{ openio_elasticsearch_namespace }}-elasticsearch-{{ openio_elasticsearch_serviceid }}]
command=/usr/bin/java {{ openio_elasticsearch_java_args }} -Des.path.home=/usr/share/elasticsearch -Des.path.logs={{ openio_elasticsearch_log_dir }} -Des.path.data={{ openio_elasticsearch_volume }} -Des.path.conf={{ openio_elasticsearch_sysconfig_dir }} -Des.distribution.flavor=default -Des.distribution.type={{ es_distribution_type }} -cp "{{ openio_elasticsearch_classpath | join(':') }}" org.elasticsearch.bootstrap.Elasticsearch -p {{ openio_elasticsearch_pid_directory }}/{{ openio_elasticsearch_servicename }}.pid
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_elasticsearch_namespace }},elasticsearch,{{ openio_elasticsearch_serviceid }}
uid=openio
gid=openio
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
